.user-profile {
    min-height: 140px;
}

.user-avatar {
    float: left;
    margin-right: 16px;
    margin-bottom: 16px;
}

ul.talk-list {
    list-style-type: none;
    padding: 0px;
}

li.talk {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    padding: 10px;
}

li.talk:hover {
    background-color: #f8f8f8;
}

div.talk-header h2 {
    font-size: 200%;
    margin: 5px 0px 15px 0px;
}

div.talk-header h3 {
    font-size: 115%;
    margin: 0px 0px 10px 0px;
}

div.talk-header p {
    font-size: 90%;
    font-style: italic;
    margin: 20px 0px 0px 0px;
}
