<div class="text-center">

         <h2 class="animated  rotateInDownLeft">Trusted and Branded Paying Guests </h2>
        <h3 class=" animated  zoomInRight">Affordable PGs starting at just 5000 </h3>
    <br/>


    <h3 class="animated  zoomInRight">Search your Perfect Place</h3>
           <span class="glyphicon glyphicon-home"> </span>


</div>