{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block page_content %}
<h2>Add a new PG in your records</h2>






{{ wtf.quick_form(form) }}

<br/>
<hr/>

<h3> Add pictures to facilities</h3>

<h3> Specify details about sharing options and rate card</h3>

<h3> Specify details about key location and distance/travel time from them</h3>
{% include "contact_info.html" %}
{% endblock %}