{% extends "bootstrap/base.html" %}

{% block title %}Talks{% endblock %}

{% block head %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='animate.css') }}">


{% endblock %}

{% block navbar %}
<div class="navbar navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand">Piku Homes</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/">OFFERS</a></li>
                <li><a>Piku Gurantees</a></li>
                <li><a>
                    <span class="animated infinite pulse glyphicon glyphicon-earphone">+919845105461</span>
                    </a></li>



            </ul>



            <ul class="nav navbar-nav navbar-right">
{% if not current_user.is_authenticated %}
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Partners <span class="glyphicon glyphicon-align-left"></span>
                </button>

                <ul class="dropdown-menu" role="menu">
                    <li><a href="partner-login">Login</a></li>
                    <li><a href="new-partner">Become a Partner</a></li>

                </ul>
            </div>
                {% endif %}

            {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('.edit_profile') }}"><strong>Welcome {{ current_user.email }}</strong></a></li>
                    <li><a href="{{ url_for('.add_new_pg') }}">Add a new PG</a></li>
                    <li><a href="{{ url_for('.show_my_pgs') }}">My all PG's</a></li>
                    <li><a href="{{ url_for('.logout') }}">Logout</a></li>
            {% endif %}



            </ul>
        </div>
    </div>
</div>


<!--Start of Tawk.to Script-->
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5606be92d67c1b181148b329/default';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>
<!--End of Tawk.to Script-->

{% endblock %}

{% block content %}
<div class="container">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}

    {% block page_content %}

</div>



    {% endblock %}
</div>
{% endblock %}
