

<div class="text-center">



         <h2>Call or Write to us</h2>


            <span class="animated  rotateInDownLeft glyphicon glyphicon-phone-alt"> +919845105461
                </span>

            <span class="animated  rotateInDownLeft glyphicon glyphicon-envelope"> support@pikuhomes.com
                </span>



    <br/>


</div>