{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}

<h2>Paying Guests for <strong> <u> {{ serving_gender }} </u> </strong> in <strong> {{ locality }} </strong>
<a href="/"> search more </a>
</h2>

<div>
    {% if pgs %}

{% for pg in pgs %}

    <h3>Piku verification Status:</h3> <img src="static/verified.ico" alt="Verified" style="width:75px;height:75px;">
    <table class="table table-hover">
        <tr><th>PG Name</th><th>Contact number of PG</th><th>Description</th>

        </tr>


        <tr>
            <td>
                {{ pg.name }}
            </td>

            <td>
                {{ pg.phone_number }}
            </td>
            <td>
                {{ pg.description }}
            </td>

            <td> <a href="#"> Feedback </a></td>
        </tr>


    </table>


    <br/>
    <br/>
    <h2> Facilities</h2>
    <h4>Each facility is personally verified</h4>
    <br/>
    <br/>
    <h2> Pictures</h2>
    <br/>
    <br/>

    <h2> Sharing Options</h2>
<br/>
    <br/>
    <h2> Nearby Places</h2>
    <hr/>
    <hr/>
    {% endfor %}
       {% endif %}
</div>



{% endblock %}