
<br/>
<div class="text-center panel panel-default">
  <div class="panel-footer">Copyright @ 2016 Piku Homes. All rights reserved.
      <a href="{{ url_for('.terms') }}">Terms and Conditions</a>
    </div>

</div>
