{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_content %}


<div>
    {% if my_pgs %}
        <h2>Here is the list of all your PG's</h2>

    <table class="table table-hover">
        <tr><th>PG Name</th><th>Locality</th><th>Serving Gender</th><th>Phone number of PG</th><th>Description</th>
        <th>Active</th>
        </tr>
        {% for my_pg in my_pgs %}

        <tr>
            <td>
                {{ my_pg.name }}
            </td>
            <td>
                {{ my_pg.locality }}
            </td>
            <td>
                {{ my_pg.serving_gender }}
            </td>
            <td>
                {{ my_pg.phone_number }}
            </td>
            <td>
                {{ my_pg.description }}
            </td>

            <td>
                {{ my_pg.active }}
            </td>

            <td> <a href="#"> EDIT </a></td>
        </tr>

        {% endfor %}
    </table>

    {% endif %}
</div>


    <div class="modal-footer">

        <button type="button" class="btn btn-default"><a href="{{ url_for('.add_new_pg') }}">Add New PG</a></button>
      </div>

{% endblock %}